<div>

  <form novalidate name="myForm">

    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <label>Smart Form to add new Course</label>
          <b ng-if="myForm.$pristine">[Pristine]</b>
          <b ng-if="myForm.$dirty">[Dirty]</b>
          <b ng-if="myForm.$valid">[Valid]</b>
          <b ng-if="myForm.$invalid">[Invalid]</b>
          <b ng-if="myForm.$submitted">[Submitted]</b>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <label>Course Name:</label>
        </div>
        <div class="col-md-10">
          <input class="my-input" type="text" name = "name" ng-model = "course.name" required></input>
          <b ng-if="myForm.name.$touched">[Touched]</b>
          <b ng-if="myForm.name.$pristine">[Pristine]</b>
          <b ng-if="myForm.name.$dirty">[Dirty]</b>
          <b ng-if="myForm.name.$valid">[Valid]</b>
          <b ng-if="myForm.name.$invalid">[Invalid]</b>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <label>Category:</label>
        </div>
        <div class="col-md-10">
          <select ng-model="course.category" required>
      			<option value="Development">Development</option>
      			<option value="Business">Business</option>
      			<option value="Design">Design</option>
      			<option value="Marketing">Marketing</option>
      		</select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <label>Timeline:</label>
        </div>
        <div class="col-md-10">
          <input class="my-input" type="number" name = "timeline" ng-model = "course.timeline" required></input>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <label>Price:</label>
        </div>
        <div class="col-md-10">
          <input class="my-input" type="number" name = "price" ng-model = "course.price" required></input>
        </div>
      </div>

      <button type="submit" ng-click="addCourse(course);" ng-disabled="myForm.$invalid">Add</button>
      <button ng-click="cancelAdd()">Cancel</button>

    </div>


  </form>

</div>
