<div class="panel panel-primary">
	<div class="panel-body">

    <div ng-show="isLoading" style="color:red">
    			<span class='glyphicon glyphicon-time'></span> Loading...
    </div>

    <div ng-if = "!isLoading">
      <h4><a href="#/courses/add">Add New Course</a></h4>
      <table class="table table-hover" >
        <thead>
          <tr>
            <th>S. No.</th>
            <th>Name</th>
            <th>Category</th>
            <th>Timeline</th>
            <th>Price</th>
            <th colspan="2">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="course in courses | orderBy: 'name'">
            <td>{{$index+1}}</td>
            <td>{{course.name}}</td>
            <td>{{course.category}}</td>
            <td>{{course.timeline}}</td>
            <td>{{course.price | currency}}</td>
            <td><a href="#/courses/edit/{{course._id.$oid}}">Edit</a></td>
      			<td><button ng-click = "deleteCourse(course)">Delete</button></td>
          </tr>
        </tbody>
      </table>
      </div>
  </div>
</div>
